.seletor-para-algum-widget {
    box-sizing: content-box;
  }

*{
  font-family: 'Prompt', sans-serif;
}
 body{
    background: linear-gradient(#e66465, #9198e5);

 }

 h1{
  text-align:center; 
  margin-bottom: 30pt;
  font-size: 40pt;
 }

  .perfil{
    border-radius: 10px; 
    border-style: groove; 
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15pt;
  }

  .legenda{
    font-weight: bold;
    font-size: 13px;
  }

  .divperfil{
    margin-bottom: 100px; 
    margin-top:100px;
     background: linear-gradient(#EAEAAE, #9198e5); 
     border-radius: 10px; 
     border-style:groove;
  }

  .divcadastros{
    place-items:center;
     margin-top:30pt;
      margin-bottom:30pt
  }

  .formulario{
    border-style:dashed;
     margin:10px; 
     border-radius: 10px; 
     margin-bottom:150pt;
  }