body{
  background-color: #f8f8f8;
  font-family: 'Kotta One', serif;
  
}

table{
  align-items: center;
  justify-content: center;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
	font-size: 3.5rem;
  }
}

.jumbotron-with-background {
    background-image: url("planodefundo.png");
	width: 100%;
	height: auto;
}