table{
    width: 50%;

}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

th{
    font-size: 14pt;
    font-family:Verdana;

    text-align: center;
    
}

/*Não há distinção entre as colunas*/
tbody tr td{
    text-align: center;
}

/**
tr:nth-child(3n+0){an+b
    background-color: yellow;
}**/
